.StudentDashBoardRightBody {
    height: 100vh;
    display: flex;
    width: 87%;
    /* overflow-y: scroll; */
    background-color: white;
    flex-direction: column;
    overflow: hidden;
}

.StudentDashBoardRightBodyUpperBody {
    width: 100%;
    height: 10%;
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
}



.studentResultBody {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #d46f6f; */
    /* flex-wrap: wrap; */
    /* gap: 30px; */
    /* background: purple; */
    /* overflow-y: scroll; */
    margin-top: 5%;
    overflow-y: scroll;



}


.StudentCalender {
    width: 25%;
    height: 100vh;
    /* background: #000; */
}

.studentResultMainContainer {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
    overflow-y: scroll;
    gap: 20%;
    /* justify-content: space-between; */
}

.studentResultmainbody {
    width: 70%;
    height: 100%;
    border: 1px solid #127cdd;
    border-radius: 5px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.studentResultmainbodyheader {
    width: 100%;
    height: 40vh;
    /* background-color: white; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    flex-direction: column;
    /* background: green; */
}

.studentResultmainbodyheaderlogodiv {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.studentResultmainbodyheaderlogo {
    width: 15%;
    height: 90%;
}

.studentResultmainbodyheaderlogo img {
    width: 100%;
    height: 100%;
}

.studentResultMainbodyHeaderLogoDivSchoolName {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.studentResultMainbodyHeaderLogoDivSchoolName p {
    font-size: 20px;
}

.studentResultmainbodyheaderTerm {
    width: 100%;
    height: 10%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 550;
}

.studentResultmainbodyheaderStudentnamediv {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.studentResultmainbodyheaderStudentname {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studentstudentNameP2 {
    font-weight: 550;
}

.studentResultmainbodyheaderStudentname2 {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studentResultTable {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    /* background: yellow; */
}

table {
    width: 100%;
    height: 100%;
    /* background: cyan; */
}

tr {
    font-size: 12px;
    border-bottom: 1px solid black;
    height: 100%;
    width: 100%;

}

th {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    font-size: 12px;
    /* background: blue; */
}

td {
    /* border-bottom: 1px solid black; */
    font-size: 12px;
    height: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow-wrap: break-word;
    text-align: center;
    width: 100%;

}

.studentTotalA {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 97.5%;
    /* background: red; */
}

.studentTotalB {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    /* height: 50vh; */
    height: 97.5%;
    /* background: pink; */
}




@media only screen and (min-width: 320px) and (max-width:768px) {
    .StudentDashBoardRightBody {
        height: max-content;
        display: flex;
        width: 95%;
        overflow-y: scroll;
        background-color: white;
        flex-direction: column;
        /* overflow: hidden; */
        /* background: yellow; */
        margin-top: 70px;
    }

    .StudentDashBoardRightBodyUpperBody {
        width: 100%;
        height: 7vh;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 75px; */
        /* background: red; */
    }

    .studentResultBody {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* background: #d46f6f; */
        /* flex-wrap: wrap; */
        /* gap: 30px; */
        /* background: purple; */
        overflow-y: scroll;
        /* margin-top: 20%; */
    
    
    }

    .StudentCalender {
        width: 100%;
        height: 89vh;
        /* background: #000; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .studentResultMainContainer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: aquamarine; */
        overflow-y: scroll;
        gap: 2%;
        /* justify-content: space-between; */
        /* margin-top: auto; */
        /* margin-top: 1000px; */
    }

    .studentResultmainbody {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* gap: 15px; */

    }

    .studentResultmainbodyheader {
        width: 100%;
        height: 30vh;
        /* background-color: white; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px 5px 0px 0px;
        flex-direction: column;
        /* background: green; */
    }

    .studentResultmainbodyheaderlogodiv {
        width: 100%;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background: blue; */
    }
    
    .studentResultmainbodyheaderlogo {
        width: 17%;
        height: 70%;
    }
    
    .studentResultmainbodyheaderlogo img {
        width: 100%;
        height: 100%;
    }

    .studentResultMainbodyHeaderLogoDivSchoolName {
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background: green; */
    }

    .studentResultMainbodyHeaderLogoDivSchoolName p {
        font-size: 14px;
        overflow-wrap: break-word;
        text-align: center;
        
    }

    .studentResultmainbodyheaderlogodivschoolName p {
        font-size: 11px;
        overflow-wrap: break-word;
        text-align: center;
    }

    .studentResultmainbodyheaderStudentnamediv {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .studentResultmainbodyheaderTerm p {
        font-size: 11px;
    }

    .studentstudentNameP {
        font-size: 16px;
        overflow-wrap: break-word;
        text-align: center;
    }

    .studentstudentNameP2 {
        font-size: 8px;
        overflow-wrap: break-word;
        text-align: center;
    }

    .studentTotalA {
        font-size: 15px;
    }

    th {
        font-weight: lighter;
    }

    .studentTotalB {
        font-size: 15px;
    }
}



/* @media screen and (max-width:425px) {
    .studentResultmainbody {
        gap: 15px;
        width: 90%;
        height: 92%;
    }

    .studentResultmainbodyheaderlogodivschoolName p {
        font-size: 16px;
    }

    .studentstudentNameP2 {
        font-size: 10px;
    }

    .studentResultmainbodyheaderTerm p {
        font-size: 15px;
    }
}

@media screen and (max-width:375px) {
    .studentResultmainbody {
        width: 95%;
        height: 100%;
        gap: 15px;

    }

    .studentResultmainbodyheaderStudentname {
        width: 40%;
    }

    th {
        font-size: 17px;
    }
}

@media screen and (max-width:320px) {
    .studentResultmainbody {
        gap: 15px;
    }

    th {
        font-size: 14px;
    }
}



@media screen and (max-width:865px) {
    .studentResultmainbody {
        background-color: red;
        width: 80%;
        height: 95%;
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

} */





/* This is other pages Css for Result */
/* .ResultBody {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resultmainbody {
    width: 40%;
    height: 90%;
    border: 1px solid #000000;
    border-radius: 5px;
}

.Resultmainbodyheader {
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    flex-direction: column;
}

.Resultmainbodyheaderlogodiv {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Resultmainbodyheaderlogo {
    width: 15%;
    height: 90%;
}

.Resultmainbodyheaderlogo img {
    width: 100%;
    height: 100%;
}

.ResultmainbodyheaderlogodivschoolName {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ResultmainbodyheaderlogodivschoolName p {
    font-size: 20px;
}

.ResultmainbodyheaderTerm {
    width: 100%;
    height: 15%;
    background-color: #127bdd57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 550;
}

.ResultmainbodyheaderStudentnamediv {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ResultmainbodyheaderStudentname {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studentNameP2 {
    font-weight: 550;
}

.ResultmainbodyheaderStudentname2 {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ResultTable {
    width: 100%;
    height: 59.5%;
    display: flex;
    justify-content: center;
}

.TotalA {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 50vh;
}

.TotalB {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 50vh;
}

th {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

table {
    width: 530px;
    height: 200px;
}

tr {
    font-weight: 100;
    font-size: 18px;

}

td {
    border-bottom: 1px solid black;
} */
/* 
@media screen and (max-width:865px) {
    .Resultmainbody {
        width: 80%;
        height: 95%;
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width:768px) {
    .Resultmainbody {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 15px;

    }

    .ResultmainbodyheaderlogodivschoolName p {
        font-size: 18px;
    }

    .ResultmainbodyheaderTerm p {
        font-size: 18px;
    }

    .studentNameP2 {
        font-size: 15px;
    }

    .TotalA {
        font-size: 15px;
    }

    th {
        font-weight: lighter;
    }

    .TotalB {
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .Resultmainbody {
        gap: 15px;
        width: 90%;
        height: 92%;
    }

    .ResultmainbodyheaderlogodivschoolName p {
        font-size: 16px;
    }

    .studentNameP2 {
        font-size: 10px;
    }

    .ResultmainbodyheaderTerm p {
        font-size: 15px;
    }
}

@media screen and (max-width:375px) {
    .Resultmainbody {
        width: 95%;
        height: 100%;
        gap: 15px;

    }

    .ResultmainbodyheaderStudentname {
        width: 40%;
    }

    th {
        font-size: 17px;
    }
}

@media screen and (max-width:320px) {
    .Resultmainbody {
        gap: 15px;
    }

    th {
        font-size: 14px;
    }
} */