  .TeacherResultBody{
    width: 100%;
    height: max-content;
      background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10vh;
  }
  
  .Resultmainbody{
    width: 40%;
    height: 100vh;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .Resultmainbodyheader{
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    flex-direction: column;
  }
  
  .Resultmainbodyheaderlogodiv{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .Resultmainbodyheaderlogo{
    width: 15%;
    height: 90%;
  }
  
  .Resultmainbodyheaderlogo img{
    width: 100%;
    height: 100%;
  }
  
  .ResultmainbodyheaderlogodivschoolName{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ResultmainbodyheaderlogodivschoolName p{
    font-size: 20px;
  }
  
  .ResultmainbodyheaderTerm{
    width: 100%;
    height: 15%;
    background-color: #127bdd57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 550;
  }
  
  .ResultmainbodyheaderStudentnamediv{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .ResultmainbodyheaderStudentname {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .studentNameP2 {
    font-weight: 550;
  }
  
  .ResultmainbodyheaderStudentname2 {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .ResultTable{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    flex-direction: column;
  }
  .subjectsword {
    /* color: yellow; */
    width: 100%;
    height: 12%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000006b;

  }
  .table {
    /* background-color: pink; */
    width: 90%;
    height: 95%;
  }


  .TotalA {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 50vh;
  }
  .TotalA td {
    font-size: 12px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TotalB {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 50vh;
  }
  .TotalB td {
    font-size: 15px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TotalB td {
    font-size: 16px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  th {
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  
  table {
    width: 530px;
    height: 200px;
  }
  
  tr {
    font-weight: 100;
    font-size: 18px;
    
  }
  
  td {
    border-bottom: 1px solid black;
  }

  .TotalScorediv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 240px;
    /* background-color: red; */
  }

  .tableButton{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .tableButtonEdit{
    width: 25%;
    height: 70%;
    background: blue;
    border-radius: 5px;
    border: none;
    color: white;
   }

   .tableButtonDelete{
    width: 25%;
    height: 70%;
    background: red;
    border-radius: 5px;
    border: none;
    color: white;
   }
  
  @media screen and (max-width:865px){
    .Resultmainbody{
     /* background-color: red; */
     width: 80%;
     height: 95%;
     gap: 15px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    } 
    
  }
  
  
  @media screen and (max-width:768px){
     .Resultmainbody{
         width: 80%;
         height: 100%;
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-direction: column;
     gap: 15px;
  
     }
  
     .ResultmainbodyheaderlogodivschoolName p{
         font-size: 18px;
     }
  
     .ResultmainbodyheaderTerm p{
         font-size: 18px;
     }
  
     .studentNameP2{
         font-size: 15px;
     }
  
     .TotalA{
         font-size: 15px;
     }
  
     th{
         font-weight: lighter;
     }
  
     .TotalB{
         font-size: 15px;
     }
  }
  
  @media screen and (max-width:425px){
     .Resultmainbody{
         gap: 15px;
         width: 90%;
         height: 92%;
     }
  .ResultmainbodyheaderlogodivschoolName p{
     font-size: 16px;
  }
     .studentNameP2{
         font-size: 10px;
     }
  
     .ResultmainbodyheaderTerm p{
         font-size: 15px;
     }

    
  }
  
  @media screen and (max-width:375px){
     .Resultmainbody{
         width: 95%;
         height: 100%;
     gap: 15px;
  
     }
     .ResultmainbodyheaderStudentname {
         width: 40%;
     }
  
     th{
         font-size: 17px;
     }
  }
  
  @media screen and (max-width:320px){
   .Resultmainbody{
     gap: 15px;
   }
  
   th{
     font-size: 14px;
  } 
  }

