@media only screen and (max-width: 580px) {
    .LoginMainContainerBody{
        width: 86%;
        height: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(218, 218, 231, 0.312);
        border: 0.01px solid blue;
    
    
    }

    .LoginLogo {
        width: 20%;
        height: 20%;
        /* display: flex;
    justify-content: center;
    align-items: center;  */
    }

    .LoginLogo img {
        width: 100%;
        height: 100%;
    }

    .LoginBody {
        width: 90%;
        height: 80%;
        /* background-color: rebeccapurple; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .LoginLowerBody {
        width: 100%;
        height: 100%;
        /* background-color: #E5C726; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ErrorloginMsg{
        font-size: 10px;
        height: 4%;

    }

    .AcctParagrph {
        font-size: 8px;

    }

    .LoginWelText {
        width: 100%;
        font-size: 15px;
        /* background: pink; */
    }

}


@media only screen and (min-width: 580px) and (max-width: 1024px) {

    .LoginMainContainerBody{
        width: 50%;
        height: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(218, 218, 231, 0.312);
        border: 0.01px solid blue;
    
    
    }


    .LoginLogo {
        width: 20%;
        height: 20%;
        /* display: flex;
        justify-content: center;
        align-items: center;  */
    }

    .LoginLogo img {
        width: 100%;
        height: 100%;
    }

    .LoginBody {
        width: 90%;
        height: 90%;
        /* background-color: rebeccapurple; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .LoginLowerBody {
        width: 100%;
        height: 100%;
        /* background-color: #E5C726; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ErrorloginMsg{
        font-size: 13px;
        height: 4%;

    }
}