@media screen and (max-width:768px){
    .BackArrowDiv{
        margin-top: 35px;
    } 
    
    .Profilebody{
     /* background-color: rgb(8, 4, 236); */
     width: 80%;
     height: 80%;
     display: flex;
     align-items: center;
    } 
    .ProfileImage{
     /* background-color:crimson ; */
     height: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
    }
 .ProfileImagecircle{
     /* background-color: rgb(238, 0, 255); */
     width: 90px;
     height: 90px;
 }  
 }
 
 @media screen and (max-width:425px){
    .BackArrowDiv{
        margin-top: 35px;
    }  
    
    
    .ProfilebodyHolder{
         /* background-color:crimson ; */
         max-width: 95%;
         max-height: 100%;
     }
     .Profilebody{
         /* background-color:red ; */
         width: 80%;
         height: 90%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
 
 
     .ProfileImage{
         /* background-color: blueviolet; */
         width:90%;
         height:60%;
         gap: 10px;
     }

     .ProfileImage h2{
         font-size: 15px;
     }

     .ProfileInput{
         /* background-color: yellow; */
         width:90%;
     }

     .ProfileInputNameinnericonholder {
       width: 40%;
     }

     .ProfileInputName{
         /* background-color: cadetblue; */
         width: 90%;
     }

     .ProfileInputNameinnerName{
         width: 57%;
         font-size: 10px;
     }

     .ProfileInputNameinnericonholder p{
        font-size: 10px;
     }
 }
 
 @media screen and (max-width:375px){
    .BackArrowDiv{
        margin-top: 35px;
    } 
    
    
    .ProfileInputName{
       width: 95%;
     }

     .Profilebody{
         width: 92%;
     }

     .ProfileInputNameinnericonholder{
        width: 10%;
     }

     .ProfileInputNameinnericonholder p{
        font-size: 10px;
     }
 }