.AdminDashBoardRightBodyUpperBody {
    width: 100%;
    height: 10%;
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminDashBoardRightBodyHeader {
    width: 95%;
    height: 90%;
    /* background: cyan; */
    display: flex;
    justify-content: space-between;

}

.userProfile {
    width: 30%;
    height: 100%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UserImageDiv {
    width: 20%;
    height: 100%;
}

.UserImage{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.UserImageH4 {
    width: 75%;
    color: black;
}

.AdminDashBoardLowerBodyUpperBody {
    width: 100%;
    height: 88%;
    background: #ffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AdminDashBoardLowerBodyUpperBodyTitle {
    width: 95%;
    height: 10%;
    /* background: green; */
    display: flex;
    align-items: center;
}

.AdminDashboardTotalStudentsCards {
    width: 95%;
    height: 25%;
    /* background: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AdminTotalTeacher {
    width: 32%;
    height: 90%;
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(218, 218, 231, 0.312);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);

}

.AdminTotalTeacherBody{
    width: 90%;
    height: 80%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AdminTotalTeacherBodyTotal{
    width: 46%;
    height: 90%;
    /* background: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AdminTotalTeacherBodyTotalH5{
    width: 90%;
    height: 50%;
}

.AdminTotalTeacherBodyTotalH3{
    width: 90%;
    height: 20%;
}

.AdminTotalTeacherBodyChart{
    width: 46%;
    height: 90%;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminChart{
    width: 67%;
    height: 90%;
    /* background: red; */
    border-radius: 50%;
}

.AdminPieChart{
    width: 500px;
}

.AdminDashboardPerformance {
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
}

.AdminDashboardPerformanceDetailCard {
    width: 70%;
    height: 100%;
    /* background: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AdminDashboardPerformanceDetailCardTop {
    width: 100%;
    height: 96%;
    /* background: red; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgba(218, 218, 231, 0.312); */

}

.adCardLeft{
    width: 48.5%;
    height: 95%;
    border: 2px solid rgba(218, 218, 231, 0.312);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
    
}

.adCardLeft h1{
    font-size: 30px;
}

.adCardRight{
    width: 48.5%;
    height: 95%;
    border: 2px solid rgba(218, 218, 231, 0.312);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);

}

.eligibleText{
    background: rgba(218, 218, 231, 0.312);
    height: 90%;
    width: 95%;
    /* box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.eligibleText h1{
    font-size: 35px;
    text-align: center;

}


.AdminDashboardPerformanceDetailCardRight {
    width: 29%;
    height: 90%;
    /* background: yellow; */
    /* border: 1px solid #1e306e; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.SubscribeBtn{
    width: 60%;
    height: 15%;
    background: #127cdd;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}