@media only screen and (min-width: 320px) and (max-width: 580px) {

    .AdminDashboardContainer {
        width: 100%;
        height: max-content;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

    }

    .AdminDashboardContainerMobile {
        width: 100%;
        /* height: max-content; */
        /* background: red; */
        display: flex;
        /* flex-direction: column; */
    }

    /* .AdminDashboardContainerMedia{
        width: 100%;
    } */

    .AdminDashboardSideMenu {
        display: none;
    }

    .AdminDashboardMobileHeader {
        width: 100%;
        height: 10vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 100;
    }

    .AdminDashboardMobileHeaderCon {
        width: 95%;
        height: 90%;
        /* background: yellow; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .AdminDashboardMobileHeaderCon img {
        height: 100%;
        width: 20%;
    }

    .AdminDashboardMobileDropMenu {
        width: 20%;
        height: 25vh;
        background: #1e306e;
        position: absolute;
        right: 1%;
        top: 67%;
        gap: 15px;
        display: flex;
        flex-direction: column;

    }

    .AdminDashboardIconsImageName {
        color: white;
        font-size: 10px;
    }

    .AdminDashboardIconsImage {
        fill: rgb(255, 255, 255) ;
    }

    .AdminDashBoardRightBody {
        width: 95%;
        height: max-content;
        /* background-color: rgb(24, 29, 20); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .AdminDashBoardRightBodyUpperBody {
        width: 100%;
        height: 10vh;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
    }

    .AdminDashBoardRightBodyHeader {
        width: 95%;
        height: 90%;
        /* background: cyan; */
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }

    .userProfile {
        width: 65%;
        height: 100%;
        /* background: green; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .UserImageDiv {
        width: 30%;
        height: 75%;
    }

    .UserImage {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .UserImageH4 {
        width: 60%;
        color: black;
        font-size: 10px;

    }

    .AdminDashBoardLowerBodyUpperBody {
        width: 100%;
        height: max-content;
        background: #ffff;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .AdminDashBoardLowerBodyUpperBodyTitle {
        width: 100%;
        height: 5vh;
        /* background: green; */
        display: flex;
        align-items: center;
    }

    .AdminDashBoardLowerBodyUpperBodyTitle h3 {
        height: 1%;
    }

    .AdminDashboardTotalStudentsCards {
        width: 100%;
        height: 70vh;
        /* background: gray; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .AdminTotalTeacher {
        width: 100%;
        height: 28%;
        /* background: pink; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .AdminTotalTeacherBodyChart {
        width: 46%;
        height: 97%;
        /* background: purple; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .AdminChart {
        width: 67%;
        height: 100%;
        /* background: red; */
        border-radius: 50%;
    }


    .AdminDashboardPerformance {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background: blue; */
    }

    .AdminDashboardPerformanceDetailCard {
        width: 100%;
        height: 60%;
        /* background: cornflowerblue; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .eligibleText {
        background: rgba(218, 218, 231, 0.312);
        height: 90%;
        width: 95%;
        /* box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3); */
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        font-size: 16px;

    }

    .eligibleText h1 {
        font-size: 24px;
        text-align: center;

    }

    .SubscribeBtn{
        width: 60%;
        height: 15%;
        background: #127cdd;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
    }

    .AdminDashboardPerformanceDetailCardRight {
        width: 100%;
        height: 30%;
        /* background: yellow; */
    }


}


@media only screen and (min-width: 580px) and (max-width: 1024px) {

    .AdminDashboardContainer {
        width: 100%;
        height: max-content;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

    }

    .AdminDashboardContainerMobile {
        width: 100%;
        /* height: max-content; */
        /* background: red; */
        display: flex;
        /* flex-direction: column; */
    }

    /* .AdminDashboardContainerMedia{
        width: 100%;
    } */

    .AdminDashboardSideMenu {
        display: none;
    }

    .AdminDashboardMobileHeader {
        width: 100%;
        height: 10vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 100;
    }

    .AdminDashboardMobileHeaderCon {
        width: 95%;
        height: 100%;
        /* background: yellow; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .AdminDashboardMobileHeaderCon img {
        height: 100%;
        width: 15%;
    }

    .AdminDashboardMobileDropMenu {
        width: 20%;
        height: 25vh;
        background: #1e306e;
        position: absolute;
        right: 1%;
        top: 67%;
        gap: 15px;
        display: flex;
        flex-direction: column;

    }

    .AdminDashboardIconsImage {
        fill: rgb(255, 255, 255) ;
    }

    .AdminDashboardIconsImageName {
        color: white;
        font-size: 10px;
    }

    .DashBoardRightBody {
        width: 95%;
        height: max-content;
        /* background-color: rgb(24, 29, 20); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .AdminDashBoardRightBodyUpperBody {
        width: 100%;
        height: 10vh;
        /* background: pink; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 75px;

    }

    .AdminDashBoardLowerBodyUpperBody {
        width: 100%;
        height: max-content;
        background: #ffff;
        display: flex;
        align-items: center;
        /* flex-direction: column;   */
    }

    .AdminDashBoardLowerBodyUpperBodyTitle {
        width: 100%;
        height: 5vh;
        /* background: green; */
        display: flex;
        align-items: center;
    }

    .AdminDashBoardLowerBodyUpperBodyTitle h3 {
        height: 1%;
    }

    .AdminDashboardTotalStudentsCards {
        width: 100%;
        height: 70vh;
        /* background: gray; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .AdminTotalTeacher {
        width: 50%;
        height: 30%;
        /* background: pink; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .AdminTotalTeacherBody {
        width: 90%;
        height: 80%;
        /* background: yellow; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .AdminTotalTeacherBodyChart {
        width: 46%;
        height: 97%;
        /* background: purple; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .AdminChart {
        width: 67%;
        height: 100%;
        /* background: red; */
        border-radius: 50%;
    }


    .AdminDashboardPerformance {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background: blue; */
    }

    .AdminDashboardPerformanceDetailCard {
        width: 100%;
        height: 60%;
        /* background: cornflowerblue; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .AdminDashboardPerformanceDetailCardRight {
        width: 100%;
        height: 30%;
        /* background: yellow; */
    }

}