.sigUpBody{
    width: 100%;
    height: 100vh;
    /* background: cyan; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SignUpLogo{
    width: 95%;
    height: 15%;
}

.SignUpLogo img{
    height: 100%;
    width: 15%;
}

.sigUpMainBody{
    width: 35%;
    height: 90%;
    /* background: plum; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signUpNameHolder{
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
}
.signUpNameIconDiv{
    width:15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.01px solid blue;
    border-left: 0.01px solid blue;
    border-top: 0.01px solid blue;
}
.signUpNameInput{
    width:85%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-bottom: 0.01px solid blue;
    border-right: 0.01px solid blue;
    border-top: 0.01px solid blue;
}
.signUpTeacherInput{
    width:85%;
    height: 70%;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-bottom: 0.01px solid blue;
    border-right: 0.01px solid blue;
    border-top: 0.01px solid blue;
}
.signUpPasswordHolder{
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
}
.signUpPasswordIconDiv{
    width:15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.01px solid blue;
    border-left: 0.01px solid blue;
    border-top: 0.01px solid blue;
}

.signUpPassordInput{
    width:70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-bottom: 0.01px solid blue;
    border-top: 0.01px solid blue;
}

.signUpshowPassword{
    width:15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.01px solid blue;
    border-right: 0.01px solid blue;
    border-top: 0.01px solid blue;
}

.signUpSubmitBtn{
    width:100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: blue;
    color: white;
    font-size: 15px;
    /* background: #F7B905; */

}