.ForgetPasswordBody{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ForgetPasswordMainBody{
    width: 24%;
    height: 50%;
    background: rgba(218, 218, 231, 0.312);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border: 0.01px solid blue;

}

.ForgetPasswordMainBody img{
    width: 30%;
    height: 30%;
}

.ForgetPasswordH1{
    font-size: 24px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ForgetPasswordP{
    height: 10%;
    width: 85%;
    font-size: 14px;
}

.ForgetPasswordInput{
    width: 85%;
    height: 11%;
    padding-left: 2%;
    outline: none;
    border-radius: 5px;
    border: 1px solid blue;
}

.ForgetPasswordSubmitBtn{
    width: 85%;
    height: 10%;
    cursor: pointer;
    border: none;
    background: blue;
    color: white;
    font-size: 15px;
}
.ForgetPasswordSubmitBtnLoginBtn{
    width: 85%;
    height: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

