.ForgetPasswordBody{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: pink; */
}

.ForgetPasswordMainBody{
    width: 25%;
    height: 60%;
    background: rgb(218, 218, 231);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.ForgetPasswordH1{
    font-size: 30px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: greenx;
}

.ForgetPasswordP{
    height: 10%;
    width: 85%;
    font-size: 18px;
}

.ForgetPasswordInput{
    width: 85%;
    height: 9%;
    padding-left: 2%;
}

.ForgetPasswordSubmitBtn{
    width: 85%;
    height: 9%;
    cursor: pointer;
    border: none;
    background: green;
    color: white;
    font-size: 20px;
}
.ForgetPasswordSubmitBtnLoginBtn{
    width: 85%;
    height: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

