@media only screen  and (max-width: 580px){
    .ForgetPasswordMainBody{
        width: 90%;
        height: 60%;
        background: rgba(218, 218, 231, 0.312);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .ForgetPasswordP{
        height: 5%;
        width: 85%;
        font-size: 12px;
    }

    .ForgetPasswordInput{
        width: 85%;
        height: 10%;
        padding-left: 2%;
        outline: none;
        border-radius: 5px;
        border: 1px solid blue;
    }
    
    
}

@media only screen and (max-width: 1024px){

    .ForgetPasswordMainBody{
        width: 50%;
        height: 60%;
        background: rgba(218, 218, 231, 0.312);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .ForgetPasswordP{
        height: 5%;
        width: 85%;
        font-size: 12px;
    }

    .ForgetPasswordInput{
        width: 85%;
        height: 10%;
        padding-left: 2%;
        outline: none;
        border-radius: 5px;
        border: 1px solid blue;
    }

}