.AdminDashboardContainer {
    width: 100%;
    height: 100vh;
    background: #1e306e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AdminDashboardSideMenu {
    width: 13%;
    height: 99.5%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(237, 249, 249);
}

.AdminDashboardSideMenuLogo {
    width: 100%;
    height: 20%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminDashboardSideMenuLogo img {
    width: 70%;
    height: 90%;
}

.AdminDashboardSideMenuMainBody {
    width: 90%;
    height: 80%;
}

.AdminDashboardSideMenuIconDiv {
    width: 100%;
    height: 60%;
    /* background-color: coral; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.AdminDashboardIcons {
    width: 100%;
    height: 14%;
    /* background: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.AdminHomeIcon {
    width: 20%;
    height: 100%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminDashboardIconsImage{
    fill: white;
}

.AdminDashboardIconsImageName{
    color: white;
}

.AdminHomeIconTitle {
    width: 70%;
    height: 100%;
    /* background: greenyellow; */
    display: flex;
    align-items: center;
}

.DashBoardRightBody {
    width: 86%;
    height: 100%;
    /* background-color: rgb(24, 29, 20); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.DashBoardRightBodyTitle {
    width: 100%;
    height: 10%;
    background-color: rgb(208, 222, 244);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DashBoardRightBodyTitleHolderDiv {
    width: 20%;
    height: 70%;
    /* background-color: aqua; */
}

.DashboardRightBodyTitle{
    width: 95%;
}

.DashboardSearchIconDiv {
    width: 50%;
    height: 70%;
    /* background-color: rgb(255, 0, 81); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.DashboardSearchIconInput {
    width: 50%;
    height: 80%;
    font-size: large;
    border-left: 1px solid cyan;
    border-right: 0px solid cyan;
    border-bottom: 1px solid cyan;
    border-top: 1px solid cyan;
    outline: none;
    padding-left: 2%;
    border-radius: 10px 0px 0px 10px;
}
.DashboardSearchIconInputImage {
    width: 8%;
    height: 80%;
    border-left: 0px solid cyan;
    border-right: 1px solid cyan;
    border-bottom: 1px solid cyan;
    border-top: 1px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.AdminDashboardAddTeacherBtnDiv {
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.AdminDashboardAddTeacherBtn {
    width: 60%;
    height: 90%;
    background-color: rgba(0, 0, 255, 0.887);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: antiquewhite;
}

.AdminDashboardTeachersCard {
    width: 100%;
    height: 88%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 20px;
}

.AdminDashboardTeachersCardBody {
    width: 30%;
    height: 23vh;
    background-color: rgb(238, 238, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px;

}

.AdminDashboardTeachersImageDiv {
    width: 35%;
    height: 83%;
    background: none;
}

.AdminDashboardTeachersImageDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.AdminDashboardTeachersDetail {
    width: 60%;
    height: 90%;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.AdminDashboardTeachersDetailH3{
    width: 100%;
    height: 40%;
    /* background: pink; */
    text-align: center;
    display: flex;
    align-items: center;

}

.AdminDashboardViewTeachProfile{
    width: 70%;
    height: 17%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.AdminDashBoardRightBodyUpperBody{
    width: 100%;
    height: 10%;
    /* background: pink; */
}

.AdminDashBoardLowerBodyUpperBody{
    width: 100%;
    height: 90%;
    background: #ffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AdminDashBoardLowerBodyUpperBodyTitle{
    width: 95%;
    height: 10%;
    /* background: green; */
    display: flex;
    align-items: center;
}

.AdminDashboardTotalStudentsCards{
    width: 95%;
    height: 25%;
    /* background: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AdminTotalTeacher{
    width: 32%;
    height: 90%;
    background: pink;
}

.AdminDashboardDetails{
    width: 95%;
    height: 10%;
    background: green;
    display: flex;
    align-items: center;
}

.AdminDashboardPerformance{
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
}

.AdminDashboardPerformanceDetailCard{
    width: 70%;
    height: 100%;
    /* background: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AdminDashboardPerformanceDetailCardRight{
    width: 29%;
    height: 90%;
    background: yellow;
}

.AdminDashboardPerformanceDetailCardTop{
    width: 100%;
    height: 48%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AdminDashboardPerformanceDetailCardDown{
    width: 100%;
    height: 48%;
    /* background: gray; */
}

.ExamDetailsCard{
    width: 100%;
    height: 85%;
    background: #000;
}
.PerformanceDetailsCard{
    width: 100%;
    height: 92%;
    background: #000;
}