.AdminDashboardContainer {
    width: 100%;
    height: 100vh;
    background: rgb(136,190,238);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AdminDashboardContainerMobile{
    display: none;
}

.AdminDashboardSideMenu {
    width: 13%;
    height: 99.5%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(237, 249, 249);
}

.AdminDashboardSideMenuLogo {
    width: 100%;
    height: 20%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminDashboardSideMenuLogo img {
    width: 70%;
    height: 90%;
}

.AdminDashboardSideMenuMainBody {
    width: 90%;
    height: 80%;
}

.AdminDashboardSideMenuIconDiv {
    width: 100%;
    height: 60%;
    /* background-color: coral; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.AdminDashboardIcons {
    width: 100%;
    height: 14%;
    /* background: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.AdminHomeIcon {
    width: 20%;
    height: 100%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminDashboardIconsImage{
    fill: rgb(63,61,86);
}

.AdminDashboardIconsImageName{
    color: rgb(63,61,86);
}

.AdminHomeIconTitle {
    width: 70%;
    height: 100%;
    /* background: greenyellow; */
    display: flex;
    align-items: center;
}

.DashBoardRightBody {
    width: 86%;
    height: 100%;
    /* background-color: rgb(24, 29, 20); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
