* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.Footer {
  width: 100%;
  height: 70vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #127cdd;
}

.FooterWrapper {
  width: 91%;
  height: 85%;
  margin-top: 2%;
  /* background-color: red; */
}

.FooterWrapper2 {
 display: none;
}

.FooterTextHolder {
  width: 100%;
  height: 83%;
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
}

.ProgressPalText {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  /* background-color: gray; */
}

.ProgressPalLogo {
  width: 30%;
  height: 75px;
  /* background-color: brown; */
}

.ProgressPalLogo img {
  width: 100%;
  height: 100%;
  /* background-color: purple; */
}

.ProgressPalText p {
  color: white;
}

.ContactUs {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* background-color: brown; */
}

.Contact {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
}

.ContactIcons {
  font-size: 20px;
  fill: white;
}

.Contact p {
  color: white;
}

.LinksHolder {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: gray; */
}

h4 {
  color: white;
}

.CompanyHolder {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* background-color: violet; */
}

.CompanyHolder ul {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  /* background-color: violet; */
}

.CompanyHolder ul li {
  color: white;
}

.QuickLinksHolder {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* background-color: violet; */
}

.QuickLinksHolder ul {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  color: white;
  /* background-color: violet; */
}

.QuickLinksHolder ul li {
  color: white;
}

.MediaHolder {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: violet; */
}

.SocialMedia {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: blue; */
}

.Media {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  /* background-color: red; */
}

.facebook {
  font-size: 25px;
  fill: white;
}

.Media p {
  font-size: 16px;
  color: white;
}

hr {
  width: 100%;
  height: 3px;
  background-color: white;
}

.Copyright {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: brown; */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  .Footer {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
  }

  .FooterWrapper {
    display: none;
  }

  .FooterWrapper2 {
    width: 90%;
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
  }

  .FooterTextHolder2 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */
  }

  .ProgressPalText2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: aquamarine; */
  }

  .ProgressPalText2 p {
    font-size: 15px;
    color: white;
  }

  .ProgressPalLogo2 {
    width: 25%;
    height: 65px;
  }

  .ProgressPalLogo2 img {
    width: 100%;
    height: 100%;
  }

  .ContactUs2 {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: brown; */
  }
  
  .Contact2 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: red; */
  }
  
  .ContactIcons2 {
    font-size: 16px;
    fill: white;
  }
  
  .Contact2 p {
    color: white;
    font-size: 13px;
  }

  .LinksHolder2 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
    /* background-color: blueviolet; */
  }

  .LinksHeader {
    font-size: 14px;
  }

  .CompanyHolder2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    /* background-color: blue; */
  }

  .CompanyHolder2 ul {
    width: 100%;
    height: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .CompanyHolder2 ul li {
    font-size: 14px;
    color: white;
  }

  .QuickLinksHolder2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: green; */
  }

  .QuickLinksHolder2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .QuickLinksHolder2 ul li {
    font-size: 14px;
    color: white;
  }

  .MediaHolder2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: green; */
  }

  .SocialMedia2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    /* background-color: red; */
  }

  .Media2 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 12px;
    /* background-color: blue; */
  }

  .facebook2 {
    font-size: 20px;
    fill: white;
  }

  .Media2 p {
    font-size: 14px;
    color: white;
  }

  hr {
    width: 100%;
    background-color: white;
    height: 2.5px;
  }

  .Copyright2 {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    /* background-color: brown; */
    color: white;
  }
}

/* stop */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Footer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #127cdd;
  }

  .FooterWrapper {
    width: 91%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
  }

  .FooterWrapper2 {
   display: none;
  }

  .FooterTextHolder {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
  }

  .ProgressPalText {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: gray; */
  }

  .ProgressPalLogo {
    width: 30%;
    height: 54px;
    object-fit: contain;
    /* background-color: green; */
  }

  .ProgressPalLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* background-color: green; */
  }

  .ProgressPalText p {
    color: white;
    font-size: 11.5px;
  }

  .ContactUs {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: brown;
  }

  .Contact {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: red; */
  }
  
  .ContactIcons {
    font-size: 14px;
    color: white;
  }
  
  .Contact p {
    color: white;
    font-size: 10px;
  }

  .LinksHolder {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: green;
  }

  .CompanyHolder {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: violet; */
  }

  .LinksHeader {
    font-size: 12px;
  }

  .CompanyHolder ul {
    width: 100%;
    height: 20%;
    /* gap: 2px; */
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }

  .CompanyHolder ul li {
    font-size: 11px;
    /* background-color: green; */
  }

  .QuickLinksHolder {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: violet; */
  }

  .QuickLinksHolder ul {
    width: 100%;
    height: 30%;
    display: flex;
    /* background-color: green; */
  }

  .QuickLinksHolder ul li {
    font-size: 11px;
    /* background-color: red; */
  }

  .MediaHolder {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: violet; */
  }

  .SocialMedia {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: blue; */
  }

  .Media {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
  }

  .facebook {
    font-size: 18px;
  }

  .Media p {
    font-size: 12px;
  }

  .Copyright {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    /* background-color: brown;  */
  }
}
