.schRegContainer {
    width: 100%;
    height: 100vh;
    /* height: max-content; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url(/backgroundImage.jpg); */
    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
    z-index: 2px;
    justify-content: center;
}

.SchRegLogo {
    width: 100%;
    height: 30vh;
    background: #00000086;
    /* display: flex; */
    /* justify-content: center; */
}

.SchRegLogoContainer {
    width: 11%;
    height: 11%;
}

.SchRegLogoContainer img {
    width: 100%;
    height: 100%;
}

.SchRegLogoInputs {
    width: 26%;
    height: 70%;
    background: rgba(218, 218, 231, 0.312);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.01px solid blue;;
}

.leftInput {
    width: 90%;
    height: 88%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background: red; */
}

.leftRegister {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    /* background: green; */
    justify-content: space-around;
}

.formTitle {
    /* color: #f9f9f9bb; */
    height: 5%;
    font-size: 15px;
}

.instituteName {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputTitle {
    /* color: #f9f9f9bb; */
    width: 100%;
    height: 5%;
    font-size: 10px;
}

.instituteNameHolder {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    /* background: #000; */
}

.instituteNameIconDiv {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    background-color: #ffffff;

}

.instituteNameIcon{
    /* fill: #020202bb; */
}

.InstituteNameInput {
    width: 90%;
    height: 70%;
    border-right: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    border-left: 0px solid #000;
    outline: none;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffffff;
    color: #2a2a2a;
    font-size: 12px;
}

.schoolInputIconError {
    border-top: 2px solid red;
    border-right: 0px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}

.schoolNameInputError {
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 0px solid red;
}

.errorParagraph{
    width: 95%;
    color: red;
    font-size: 11px;
}

.instituteLogo {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instituteLogoHolder {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
}

.instituteLogoIconDiv {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    border-right: 0px solid #000;
    background-color: #ffffff;
}

.instituteLogoIconDivError {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-right: 0px solid #000;

}

.InstituteLogoInputDiv {
    width: 90%;
    height: 70%;
    border-right: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    outline: none;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.instituteLogoInputDivError{
    width: 90%;
    height: 70%;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    outline: none;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
}

.InstituteLogoInput {
    cursor: pointer;
    width: 100%;
    font-size: 12px;

}

.instituteEmail {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instituteEmailHolder {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
}

.instituteEmailIconDiv {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    background-color: #ffffff;

}

.InstituteEmailInput {
    width: 90%;
    height: 70%;
    border-right: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    border-left: 0px solid#127CDD;
    outline: none;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
    font-size: 12px;

}

.InstituteEmailInputError {
    width: 90%;
    height: 70%;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 0px solid red;
    outline: none;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
}

.rightInputs {
    width: 50%;
    height: 100%;
    /* background: pink; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rightInputs img {
    width: 100%;
    height: 53%;
}

.rightregister {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.institutePassword {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.institutePasswordHolder {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
}

.institutePasswordIconDiv {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    background-color: #ffffff;

}

.institutePasswordIconDivError {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.InstitutePasswordInput {
    width: 80%;
    height: 70%;
    border-right: 0px solid#127CDD;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    border-left: 0px solid#127CDD;
    outline: none;
    padding-left: 2%;
    border-radius: 0px;
    background-color: #ffffff;
    font-size: 12px;

}

.InstitutePasswordInputError {
    width: 80%;
    height: 70%;
    border-right: 0px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 0px solid red;
    outline: none;
    padding-left: 2%;
    border-radius: 0px;
}

.showPassIcon {
    cursor: pointer;
    fill: #020202bb;
}

.confirmPassword {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instituteConfirmPasswordHolder {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
}

.instituteConfrimPasswordIconDiv {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    background-color: #ffffff;

}

.instituteConfrimPasswordIconDivError {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.InstituteConfirmPasswordInput {
    width: 80%;
    height: 70%;
    border-right: 0px solid#127CDD;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    border-left: 0px solid#127CDD;
    outline: none;
    padding-left: 2%;
    border-radius: 0px;
    font-size: 12px;
    
}

.InstituteConfirmPasswordInputError {
    width: 80%;
    height: 70%;
    border-right: 0px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 0px solid red;
    outline: none;
    padding-left: 2%;
    border-radius: 0px;
}

.instituteShowPasswordIconDiv {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    border-right: 0.01px solid blue;;
    border-top: 0.01px solid blue;;
    border-bottom: 0.01px solid blue;;
    background-color: #ffffff;
}

.instituteShowPasswordIconDivError {
    width: 10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.schRegParagraph{
    /* color: white; */
    width: 100%;
    font-size: 10px;
}

.schRegSpan{
    color: blue;
    cursor: pointer;
}

.RegisterSubmitBtnDiv {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterSubmitBtn {
    cursor: pointer;
    width: 100%;
    height: 95%;
    border: none;
    background: blue;
    font-size: 18px;
    color: rgb(252, 252, 252);
    /* border-radius: 5px; */
}




