.verifyBody{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verifyMainContainer{
    width: 30%;
    height: 40%;
    background-color: #fdf9e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VerificationPageH1{
    height: 20%;
    font-size: 40px;
}

.VerificationPageP{
    height: 20%
}

.VerifyOkBtn{
    cursor: pointer;
    background: green;
    border: none;
    width: 35%;
    height: 20%;
    color: white;
    border-radius: 10px;
}